X_API_Master/X.WFConfig/Service References/Router/Em.FundTrade.Route.LoadBalance.Services.Contract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Em.FundTrade.Route.LoadBalance.Services.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.Route.LoadBalance.Services.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceAccessStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceAccessStatus" nillable="true" type="tns:ServiceAccessStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceAccessStatus" nillable="true" type="tns:ArrayOfServiceAccessStatus" />
  <xs:complexType name="ServiceAccessStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailedTimes" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessTimes" type="xs:long" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAccessStatus" nillable="true" type="tns:ServiceAccessStatus" />
</xs:schema>