X_API_Master/X.WFConfig/Service References/Router/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Router" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRouter_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRealServerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.Route.Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.Route.LoadBalance.Services.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouter_GetRouteInfoByLoginInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInfoByLoginInfo" />
  </wsdl:message>
  <wsdl:message name="IRouter_GetRouteInfoByLoginInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInfoByLoginInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_GetRouteInfoByCustomerNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInfoByCustomerNo" />
  </wsdl:message>
  <wsdl:message name="IRouter_GetRouteInfoByCustomerNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInfoByCustomerNoResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_AddRouteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRouteInfo" />
  </wsdl:message>
  <wsdl:message name="IRouter_AddRouteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRouteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_BindMobilePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:BindMobilePhone" />
  </wsdl:message>
  <wsdl:message name="IRouter_BindMobilePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:BindMobilePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_UnbindMobilePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:UnbindMobilePhone" />
  </wsdl:message>
  <wsdl:message name="IRouter_UnbindMobilePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnbindMobilePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_BindEastmonyPassport_InputMessage">
    <wsdl:part name="parameters" element="tns:BindEastmonyPassport" />
  </wsdl:message>
  <wsdl:message name="IRouter_BindEastmonyPassport_OutputMessage">
    <wsdl:part name="parameters" element="tns:BindEastmonyPassportResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_UbindEastmoneyPassport_InputMessage">
    <wsdl:part name="parameters" element="tns:UbindEastmoneyPassport" />
  </wsdl:message>
  <wsdl:message name="IRouter_UbindEastmoneyPassport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UbindEastmoneyPassportResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IRouter_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_Regist_InputMessage">
    <wsdl:part name="parameters" element="tns:Regist" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_Regist_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistResponse" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_UnRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegist" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_UnRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegistResponse" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_AccessStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:AccessStatus" />
  </wsdl:message>
  <wsdl:message name="IRealServerManager_AccessStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccessStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IRouter">
    <wsdl:operation name="GetRouteInfoByLoginInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/GetRouteInfoByLoginInfo" message="tns:IRouter_GetRouteInfoByLoginInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/GetRouteInfoByLoginInfoResponse" message="tns:IRouter_GetRouteInfoByLoginInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRouteInfoByCustomerNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/GetRouteInfoByCustomerNo" message="tns:IRouter_GetRouteInfoByCustomerNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/GetRouteInfoByCustomerNoResponse" message="tns:IRouter_GetRouteInfoByCustomerNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRouteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/AddRouteInfo" message="tns:IRouter_AddRouteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/AddRouteInfoResponse" message="tns:IRouter_AddRouteInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BindMobilePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/BindMobilePhone" message="tns:IRouter_BindMobilePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/BindMobilePhoneResponse" message="tns:IRouter_BindMobilePhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnbindMobilePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/UnbindMobilePhone" message="tns:IRouter_UnbindMobilePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/UnbindMobilePhoneResponse" message="tns:IRouter_UnbindMobilePhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BindEastmonyPassport">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/BindEastmonyPassport" message="tns:IRouter_BindEastmonyPassport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/BindEastmonyPassportResponse" message="tns:IRouter_BindEastmonyPassport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UbindEastmoneyPassport">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/UbindEastmoneyPassport" message="tns:IRouter_UbindEastmoneyPassport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/UbindEastmoneyPassportResponse" message="tns:IRouter_UbindEastmoneyPassport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/Heartbeat" message="tns:IRouter_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/HeartbeatResponse" message="tns:IRouter_Heartbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRealServerManager">
    <wsdl:operation name="Regist">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealServerManager/Regist" message="tns:IRealServerManager_Regist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealServerManager/RegistResponse" message="tns:IRealServerManager_Regist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegist">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealServerManager/UnRegist" message="tns:IRealServerManager_UnRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealServerManager/UnRegistResponse" message="tns:IRealServerManager_UnRegist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccessStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealServerManager/AccessStatus" message="tns:IRealServerManager_AccessStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealServerManager/AccessStatusResponse" message="tns:IRealServerManager_AccessStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRouter" type="tns:IRouter">
    <wsp:PolicyReference URI="#NetTcpBinding_IRouter_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetRouteInfoByLoginInfo">
      <soap12:operation soapAction="http://tempuri.org/IRouter/GetRouteInfoByLoginInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouteInfoByCustomerNo">
      <soap12:operation soapAction="http://tempuri.org/IRouter/GetRouteInfoByCustomerNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRouteInfo">
      <soap12:operation soapAction="http://tempuri.org/IRouter/AddRouteInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindMobilePhone">
      <soap12:operation soapAction="http://tempuri.org/IRouter/BindMobilePhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnbindMobilePhone">
      <soap12:operation soapAction="http://tempuri.org/IRouter/UnbindMobilePhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindEastmonyPassport">
      <soap12:operation soapAction="http://tempuri.org/IRouter/BindEastmonyPassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbindEastmoneyPassport">
      <soap12:operation soapAction="http://tempuri.org/IRouter/UbindEastmoneyPassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap12:operation soapAction="http://tempuri.org/IRouter/Heartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRealServerManager" type="tns:IRealServerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IRealServerManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Regist">
      <soap12:operation soapAction="http://tempuri.org/IRealServerManager/Regist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegist">
      <soap12:operation soapAction="http://tempuri.org/IRealServerManager/UnRegist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccessStatus">
      <soap12:operation soapAction="http://tempuri.org/IRealServerManager/AccessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Router">
    <wsdl:port name="NetTcpBinding_IRouter" binding="tns:NetTcpBinding_IRouter">
      <soap12:address location="net.tcp://0.0.0.0:8833/Router/Route" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:8833/Router/Route</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRealServerManager" binding="tns:NetTcpBinding_IRealServerManager">
      <soap12:address location="net.tcp://0.0.0.0:8833/Router/RealServerManagement" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:8833/Router/RealServerManagement</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>