X_API_Master/X.WFConfig/Service References/CoreBusiness/Em.Entities.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Em.Entities.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Em.Entities.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CashBagShare">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Annual7D" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvailableVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinFrozenVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DemandRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="FrozenVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="FundCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnWayVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpenProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Priority" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitAccrual" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashBagShare" nillable="true" type="tns:CashBagShare" />
  <xs:complexType name="ArrayOfCashBagUnavailableShare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashBagUnavailableShare" nillable="true" type="tns:CashBagUnavailableShare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashBagUnavailableShare" nillable="true" type="tns:ArrayOfCashBagUnavailableShare" />
  <xs:complexType name="CashBagUnavailableShare">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlowType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnavailableComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnavailableType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnavailableVol" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashBagUnavailableShare" nillable="true" type="tns:CashBagUnavailableShare" />
  <xs:complexType name="ArrayOfCashBagShare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashBagShare" nillable="true" type="tns:CashBagShare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashBagShare" nillable="true" type="tns:ArrayOfCashBagShare" />
</xs:schema>