X_API_Master/X.WFConfig/Service References/CoreBusiness/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOfstringdecimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringdecimal" nillable="true" type="tns:TupleOfstringdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringdecimal" nillable="true" type="tns:ArrayOfTupleOfstringdecimal" />
  <xs:complexType name="TupleOfstringdecimal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
          <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringdecimal" nillable="true" type="tns:TupleOfstringdecimal" />
</xs:schema>