X_API_Master/X.WFConfig/Service References/DateService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDateService_FetchDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchDateTime" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchCurrWorkDay_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCurrWorkDay" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchCurrWorkDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCurrWorkDayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLastWorkday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchLastWorkday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLastWorkday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchLastWorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLast2Workday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchLast2Workday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLast2Workday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchLast2WorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLast3Workday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchLast3Workday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchLast3Workday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchLast3WorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNextWorkday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchNextWorkday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNextWorkday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchNextWorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNext2Workday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchNext2Workday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNext2Workday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchNext2WorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNext3Workday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchNext3Workday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchNext3Workday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchNext3WorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchPointWorkday_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchPointWorkday" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchPointWorkday_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchPointWorkdayResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchPreCfmDate_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchPreCfmDate" />
  </wsdl:message>
  <wsdl:message name="IDateService_FetchPreCfmDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchPreCfmDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IDateService">
    <wsdl:operation name="FetchDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchDateTime" message="tns:IDateService_FetchDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchDateTimeResponse" message="tns:IDateService_FetchDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCurrWorkDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchCurrWorkDay" message="tns:IDateService_FetchCurrWorkDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchCurrWorkDayResponse" message="tns:IDateService_FetchCurrWorkDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchLastWorkday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchLastWorkday" message="tns:IDateService_FetchLastWorkday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchLastWorkdayResponse" message="tns:IDateService_FetchLastWorkday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchLast2Workday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchLast2Workday" message="tns:IDateService_FetchLast2Workday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchLast2WorkdayResponse" message="tns:IDateService_FetchLast2Workday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchLast3Workday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchLast3Workday" message="tns:IDateService_FetchLast3Workday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchLast3WorkdayResponse" message="tns:IDateService_FetchLast3Workday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchNextWorkday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchNextWorkday" message="tns:IDateService_FetchNextWorkday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchNextWorkdayResponse" message="tns:IDateService_FetchNextWorkday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchNext2Workday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchNext2Workday" message="tns:IDateService_FetchNext2Workday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchNext2WorkdayResponse" message="tns:IDateService_FetchNext2Workday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchNext3Workday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchNext3Workday" message="tns:IDateService_FetchNext3Workday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchNext3WorkdayResponse" message="tns:IDateService_FetchNext3Workday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchPointWorkday">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchPointWorkday" message="tns:IDateService_FetchPointWorkday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchPointWorkdayResponse" message="tns:IDateService_FetchPointWorkday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchPreCfmDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/FetchPreCfmDate" message="tns:IDateService_FetchPreCfmDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/FetchPreCfmDateResponse" message="tns:IDateService_FetchPreCfmDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDateService" type="tns:IDateService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchDateTime">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCurrWorkDay">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchCurrWorkDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchLastWorkday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchLastWorkday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchLast2Workday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchLast2Workday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchLast3Workday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchLast3Workday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNextWorkday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchNextWorkday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNext2Workday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchNext2Workday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNext3Workday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchNext3Workday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchPointWorkday">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchPointWorkday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchPreCfmDate">
      <soap12:operation soapAction="http://tempuri.org/IDateService/FetchPreCfmDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateService">
    <wsdl:port name="WSHttpBinding_IDateService" binding="tns:WSHttpBinding_IDateService">
      <soap12:address location="http://222.73.55.27:8002/DateService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://222.73.55.27:8002/DateService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>