X_API_Master/X.WFConfig/Service References/DateService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FetchDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCurrWorkDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCurrWorkDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchCurrWorkDayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLastWorkday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLastWorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchLastWorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLast2Workday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLast2WorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchLast2WorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLast3Workday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchLast3WorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchLast3WorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNextWorkday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNextWorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchNextWorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNext2Workday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNext2WorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchNext2WorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNext3Workday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchNext3WorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchNext3WorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPointWorkday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPointWorkdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchPointWorkdayResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPreCfmDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPreCfmDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchPreCfmDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>