X_API_Master/X.WFConfig/Service References/Query/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueryAgent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITradeStatement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITradeStatement_GetMonthStatementByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthStatementByCustomer" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetMonthStatementByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthStatementByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetQuarterStatementByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuarterStatementByCustomer" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetQuarterStatementByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuarterStatementByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetHalfyearStatementByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHalfyearStatementByCustomer" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetHalfyearStatementByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHalfyearStatementByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetYearStatementByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearStatementByCustomer" />
  </wsdl:message>
  <wsdl:message name="ITradeStatement_GetYearStatementByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearStatementByCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ITradeStatement">
    <wsdl:operation name="GetMonthStatementByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradeStatement/GetMonthStatementByCustomer" message="tns:ITradeStatement_GetMonthStatementByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradeStatement/GetMonthStatementByCustomerResponse" message="tns:ITradeStatement_GetMonthStatementByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuarterStatementByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradeStatement/GetQuarterStatementByCustomer" message="tns:ITradeStatement_GetQuarterStatementByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradeStatement/GetQuarterStatementByCustomerResponse" message="tns:ITradeStatement_GetQuarterStatementByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHalfyearStatementByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradeStatement/GetHalfyearStatementByCustomer" message="tns:ITradeStatement_GetHalfyearStatementByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradeStatement/GetHalfyearStatementByCustomerResponse" message="tns:ITradeStatement_GetHalfyearStatementByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearStatementByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradeStatement/GetYearStatementByCustomer" message="tns:ITradeStatement_GetYearStatementByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradeStatement/GetYearStatementByCustomerResponse" message="tns:ITradeStatement_GetYearStatementByCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITradeStatement" type="tns:ITradeStatement">
    <wsp:PolicyReference URI="#NetTcpBinding_ITradeStatement_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMonthStatementByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITradeStatement/GetMonthStatementByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuarterStatementByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITradeStatement/GetQuarterStatementByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHalfyearStatementByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITradeStatement/GetHalfyearStatementByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearStatementByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ITradeStatement/GetYearStatementByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryAgent">
    <wsdl:port name="NetTcpBinding_ITradeStatement" binding="tns:NetTcpBinding_ITradeStatement">
      <soap12:address location="net.tcp://172.16.86.59:8821/Query/TradeStatementQuery" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.16.86.59:8821/Query/TradeStatementQuery</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>