X_API_Master/X.WFConfig/Service References/Query/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" />
  <xs:element name="GetMonthStatementByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthStatementByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" minOccurs="0" name="GetMonthStatementByCustomerResult" nillable="true" type="q1:QueryResultOfArrayOfTradeStatementYTXI_Sx5q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuarterStatementByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="quarter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuarterStatementByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" minOccurs="0" name="GetQuarterStatementByCustomerResult" nillable="true" type="q2:QueryResultOfArrayOfTradeStatementYTXI_Sx5q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHalfyearStatementByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHalfyearStatementByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" minOccurs="0" name="GetHalfyearStatementByCustomerResult" nillable="true" type="q3:QueryResultOfArrayOfTradeStatementYTXI_Sx5q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearStatementByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearStatementByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Em.FundTrade.Query.Entities" minOccurs="0" name="GetYearStatementByCustomerResult" nillable="true" type="q4:QueryResultOfArrayOfTradeStatementYTXI_Sx5q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>