X_API_Master/X.WFConfig/Service References/Asset/Em.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Em.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Em.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" />
  <xs:complexType name="ResultInfoOfAssetData_Stkf6_SDP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultInfoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Em.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AssetData" Namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" minOccurs="0" name="Result" nillable="true" type="q2:AssetData" />
      <xs:element minOccurs="0" name="Succeed" type="xs:boolean" />
      <xs:element minOccurs="0" name="preValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInfoOfAssetData_Stkf6_SDP" nillable="true" type="tns:ResultInfoOfAssetData_Stkf6_SDP" />
</xs:schema>