X_API_Master/X.WFConfig/Service References/Asset/Em.FundTrade.AssetHomePage.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AssetData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashBagDailyIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashBagFloatingIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashBagVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElapsedTime" type="xs:double" />
      <xs:element minOccurs="0" name="FixedBagFloatingIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="FixedBagVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="HighEndProductVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndexBagFloatingIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndexBagVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="NormalFundFloatingIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="NormalFundVol" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAssetVol" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetData" nillable="true" type="tns:AssetData" />
</xs:schema>