X_API_Master/X.WFConfig/Service References/Asset/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Em.Entities" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" />
  <xs:element name="GetAssertInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssertInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Em.Entities" minOccurs="0" name="GetAssertInfoResult" nillable="true" type="q1:ResultInfoOfAssetData_Stkf6_SDP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssertInfoWithoutCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssertInfoWithoutCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Em.Entities" minOccurs="0" name="GetAssertInfoWithoutCacheResult" nillable="true" type="q2:ResultInfoOfAssetData_Stkf6_SDP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssertInfoInCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssertInfoInCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Em.Entities" minOccurs="0" name="GetAssertInfoInCacheResult" nillable="true" type="q3:ResultInfoOfAssetData_Stkf6_SDP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomerInCacheResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetByData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Em.FundTrade.AssetHomePage.Entities" minOccurs="0" name="info" nillable="true" type="q5:AssetData" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetByDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssetByDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCacheCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearCacheResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvalidAssetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasAssetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHitRatio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHitRatioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHitRatioResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetHitRatio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetHitRatioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>